html,body,textarea {
  height: 100vh;
  min-height: 100%;
  margin: 0;
  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;
  line-height:1.42857143;
  color:#333
}

#entry{
  height:100vh;
}

#top-nav-bar {
    padding: 0px;
}

#parent-container{
  height:100vh;
  display:flex;
  flex-direction: column;
}

::-ms-clear {display: none;}

.inline-flex{
  display: flex;
  flex-wrap: wrap;
  padding:5px;
  justify-content: space-between;
}

.transition-group.hidden{
  display:none;
}

.flex-grow{
  padding: 10px;
  flex-grow: 1;
}

.pull-right{
  float:right!important
}

a{
  color:#ca2420;
  text-decoration:none
}

a:focus,a:hover{
  color:#881816;
  text-decoration:underline;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f3f3;
}

table{
  border-collapse: collapse;
}

.container{
  flex-grow:1;
  padding: 0px 5px 5px;
}

.container.flex{
  display:flex;
  flex-direction: column;
  flex-grow: 1;
}

.panel-heading{
  background: linear-gradient(to bottom,#EBEBEB,#BBBBBB);
  background-color: #bdbabd;
  padding: 5px;
  border-top: 2px solid #c00 !important;
  border-bottom: 1px solid #9c9a9c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  min-height:28px;
}

.masterlistbox {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  border: 1px solid #9c9a9c;
}

.masterlistflex {
  flex-grow: 1;
  overflow: hidden;
}

.full-height{
  height:100%;
}

.full-width{
  height:100%;
}

.lower-pad{
  padding-bottom: 10px;
}

.lower-extra-pad{
  padding-bottom: 50px;
}

.left-pad{
  padding-left: 10px;
}

.landing .modal-background{
  width:100%;
  height:100%;
  position:absolute;
  left:0px;
  top:0px;
  background-color: #FFF;
  opacity: 0.50;
  z-index:1;
}

.landing .modal-frame{
  z-index:2;
  position: absolute;
  box-sizing: border-box;
  width:80%;
  left:10%;
  border: 1px solid #CECECE;
  border-top: 5px solid #CA2420;
}
