.data-grid-layout {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  border: 1px solid #9c9a9c;
}

.data-grid-heading{
  background: linear-gradient(to bottom,#EBEBEB,#BBBBBB);
  background-color: #bdbabd;
  padding: 5px;
  border-top: 2px solid #c00 !important;
  border-bottom: 1px solid #9c9a9c;
  display: flex;
  flex-shrink:0;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.data-grid-flex {
  display: flex;
  flex-grow: 1;
  height: 0;
}

.data-grid-static {
}

.data-grid-loader {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
}
