.cell-header-filter {
    width: calc(100% - 19px);
    padding: 0px 4px;
    margin-left: -2px;
    height: 23px;
    border: 1px solid #ccc;
    color: #333;
    font-size:12px;
}

.cell-header-filter:valid {
  border-color: #c00;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(202, 36, 32, .3);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(202, 36, 32, .3)
}

.cell-header-filter::-webkit-input-placeholder {
  color: #333;
}

.cell-header-sort {
    border: 0px;
    width: 20px;
    margin-left: -4px;
    margin-right: -5px;
    background: none;
}

.cell-header-sort:focus {
    outline: none;
    /* overrides chrome default focus outline */
}

.cell-header-align{
  text-align: center;
  margin: 0 0;
}
